---
Checks: '-*,modernize-*,readability-*,performance-*,misc-*,cppcoreguidelines-*,bugprone-*,performance-,-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
HeaderFilterRegex: '.*'
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: '1'
  - key: cppcoreguidelines-macro-usage.AllowedRegexp
    value: '^DEBUG_*|ASYOP_*'
...
